In [2]:
import pandas as pd
import datetime as dt

In [3]:
dt1 = dt.datetime(2020,1,1)

In [4]:
dt1

datetime.datetime(2020, 1, 1, 0, 0)

In [6]:
dt1.month, dt1.day, dt1.year

(1, 1, 2020)

In [7]:
dt2 = dt.datetime(2025,1,1)

In [8]:
dts = pd.date_range(dt1, dt2, freq='Q') # Quaterly

In [9]:
dts

DatetimeIndex(['2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31',
               '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31',
               '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31',
               '2023-03-31', '2023-06-30', '2023-09-30', '2023-12-31',
               '2024-03-31', '2024-06-30', '2024-09-30', '2024-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

In [10]:
dts1 = pd.date_range(dt1, dt2, freq='2Q') # Semi-Anually

In [11]:
dts1

DatetimeIndex(['2020-03-31', '2020-09-30', '2021-03-31', '2021-09-30',
               '2022-03-31', '2022-09-30', '2023-03-31', '2023-09-30',
               '2024-03-31', '2024-09-30'],
              dtype='datetime64[ns]', freq='2Q-DEC')

In [12]:
dtb = pd.bdate_range(dt1, dt2, freq='B') # Business days

In [13]:
dtb

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14',
               ...
               '2024-12-19', '2024-12-20', '2024-12-23', '2024-12-24',
               '2024-12-25', '2024-12-26', '2024-12-27', '2024-12-30',
               '2024-12-31', '2025-01-01'],
              dtype='datetime64[ns]', length=1306, freq='B')

In [14]:
dtm = pd.bdate_range(dt1, dt2, freq='BM') # buisness Month

In [15]:
dtm

DatetimeIndex(['2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30',
               '2020-05-29', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-31',
               '2021-01-29', '2021-02-26', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-31',
               '2021-09-30', '2021-10-29', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-29',
               '2022-05-31', '2022-06-30', '2022-07-29', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30',
               '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-29', '2023-10-31', '2023-11-30', '2023-12-29',
               '2024-01-31', '2024-02-29', '2024-03-29', '2024-04-30',
               '2024-05-31', '2024-06-28', '2024-07-31', '2024-08-30',
               '2024-09-30', '2024-10-31', '2024-11-29', '2024-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [17]:
dt.datetime.now()

datetime.datetime(2022, 4, 7, 19, 11, 59, 360671)

In [18]:
# Excluding weeks and changing the weeks.
weekMask = 'Sun Mon Tue Wed Thu Fri'
exclude = [dt.datetime(2020, 5, 1), dt.datetime(2020, 5, 1), dt.datetime(2020, 5, 2), dt.datetime(2020, 5, 3)]

In [19]:
pd.bdate_range(dt1, dt2, freq='C', weekmask=weekMask, holidays=exclude)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-05',
               '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09',
               '2020-01-10', '2020-01-12',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-29', '2024-12-30',
               '2024-12-31', '2025-01-01'],
              dtype='datetime64[ns]', length=1565, freq='C')

In [20]:
s = pd.date_range(start='1/1/2020', end='1/08/2020', freq='B')

In [21]:
s

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08'],
              dtype='datetime64[ns]', freq='B')

In [24]:
df1 = s.to_frame(index=None)

In [25]:
df1

           0
0 2020-01-01
1 2020-01-02
2 2020-01-03
3 2020-01-06
4 2020-01-07
5 2020-01-08

In [26]:
s1 = s.to_series()

In [27]:
s1

2020-01-01   2020-01-01
2020-01-02   2020-01-02
2020-01-03   2020-01-03
2020-01-06   2020-01-06
2020-01-07   2020-01-07
2020-01-08   2020-01-08
Freq: B, dtype: datetime64[ns]

In [29]:
df1[0]

0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-06
4   2020-01-07
5   2020-01-08
Name: 0, dtype: datetime64[ns]

In [30]:
s1[0]

Timestamp('2020-01-01 00:00:00')

In [31]:
df1.loc[4]

0   2020-01-07
Name: 4, dtype: datetime64[ns]